html {
  font-family: "Open-Sans", sans-serif;
}

body {
  background-color: #fff;
}

.logo {
  width: auto;
  max-width: 20%;
}

header {
  background-image: url("../images/dog-9.jpg");
  background-size: cover;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.content-header {
  color: #fff;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

btn {
  background-color: #c59a44;
  color: #fff;
}
