html {
  font-family: Open-Sans, sans-serif;
}

body {
  background-color: #fff;
}

.logo {
  width: auto;
  max-width: 20%;
}

header {
  background-image: url("../images/dog-9.jpg");
  background-size: cover;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.header-available {
  background-image: url("../images/dog-1.jpg");
  background-size: cover;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.header-application {
  background-image: url("../images/dog-6-square.jpg");
  background-size: cover;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.content-header {
  color: #fff;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

.dog-logo {
  top: -530px;
}

.btn {
  background-color: ##8D431C;
  color: #fff;
  border-radius: 30px;
  border-color: ##8D431C;
}

.btn-stories {
  background-color: #A5241D;
  border-color: #A5241D;
  border-radius: 25px;
}

a:hover {
  color: #000;
}

.btn-available {
  background-color: #A5241D;
  border-color: #A5241D;
  border-radius: 25px;
}

.btn-application {
  background-color: #684F03;
  border-color: #684F03;
  border-radius: 25px;
}

.img-border {
  border-radius: 50%;
  max-width: 50%;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box-img:hover {
  filter: none;
  transform: scale(1.1);
}

input {
  border-color: #edb506;
  border-radius: 6px;
}

select {
  border-color: #edb506;
  border-radius: 6px;
}

textarea {
  border-color: #edb506;
  border-radius: 6px;
}

legend {
  border-color: #edb506;
  border-radius: 6px;
}

hr {
  border-color: #d76c33;
}
