html {
  font-family: "Open-Sans", sans-serif;
}

body {
  background-color: #fff;
}

.logo {
  width: auto;
  max-width: 20%;
}

header {
  background-image: url("../images/dog-9.jpg");
}

.content-header {
  color: #fff;
}

ul {
color: #fff;
}
